.columns {
    display: flex;
}

.columns__item {
    margin: 0 .5rem;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

.column__title {
    padding: .5rem;
    color: #E2E2E2;
}

.ColumnTitle {
    color: white;
    background-color: #47474A;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.ColumnTitle:active, .ColumnTitle:focus {
    outline: none;
}
.ColumnTitle::-moz-focus-inner {
    border: 0;
}