.columns {
    display: flex;
}

.columns__item {
    margin: 0 .5rem;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

.title {
    margin-bottom: .5rem;
    color: #E2E2E2;
}

.editTitle {
    margin-bottom: .5rem;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.editTitle:focus {
    outline: none;
}