
/*Btn*/
.btn-add-card {
    width: 100%;
    color: #ccc;
    background-color: #333336;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.btn-add-card:hover {
    color: white;
    background-color: #47474A;
}

/*Modal*/
.modal {
    padding-top: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
}

.modal__body {
    width: 400px;
    height: fit-content;
    border-radius: 5px;
    background: #343434;
}

.modal__header {
    display: flex;
    justify-content: flex-end;
}

.modal__content {
    padding: .5rem;
}

.cross {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/*Form*/
.form__title {
    color: white;
}

.form__item {
    display: flex;
    align-items: start;
    margin-bottom: .5rem;
}

.form__label {
    margin-right: .5rem;
}

.form__field {
    padding: 5px;
    width: 70%;
    border: none;
    border-radius: 5px;
    resize: none;
}