/*Btn*/
.btn-add-card {
    width: 100%;
    color: #ccc;
    background-color: #333336;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.btn-add-card:hover {
    color: white;
    background-color: #47474A;
}